script async="async" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-7313572562355224" data-ad-slot="1040548780"
javascript:
  (adsbygoogle = window.adsbygoogle || []).push({});
